<div class="basic-grey">
<h1>Seja bem-vindo!</h1>
<ul>
    <li> <%= link_to "Tipos" , kinds_path  %></li>
    <li> <%= link_to "Contatos" , contacts_path %> </a> </li>
    <li> <a href="https://workspace-pauloalbuquerquepaz.c9users.io/addresses"> Endereços </a> </li>
    <li> <a href="https://workspace-pauloalbuquerquepaz.c9users.io/phones"> Telefones</a> </li>
    <li> <%= link_to "Teste de Ajax" , phones_path, remote: true  %></li>

</ul>  
</div>